body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    background-color: #f0e0d1;
    color:#bbada0;
    font-size: smaller;
}


#board {
    width: 648px;
    height: 648px;

    background-color: #cdc1b5;
    border: 10px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 145.8px;
    height: 145.8px;
    border: 8.6px solid #bbada0;
    color: transparent;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x2 {
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/kit.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

.x4 {
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/kaboodle.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

.x8 {
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/gobbles.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

.x16{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/flappers.png');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

.x32{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/snappers.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

.x64{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/fold.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

.x128{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/miss_info.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

.x256{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/malice.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

.x512{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/crab girl.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

.x1024{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/warrick.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

.x2048{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/dusk.jpeg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

.x4096 {
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/lulu.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

.x8192 {
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/seagull.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}