body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    background-color: #f0e0d1;
    color:#bbada0;
    font-size: smaller;
}


#board {
    width: 648px;
    height: 648px;

    background-color: #cdc1b5;
    border: 10px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 145.8px;
    height: 145.8px;
    border: 8.6px solid #bbada0;
    color: transparent;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* kit tile: 2 */
/* (these comments just help me keep track of the characters and their number asssignments) */

.x2 {
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/kit.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

/* kaboodle tile: 4 */

.x4 {
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/kaboodle.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

/* gobbles tile: 8 */

.x8 {
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/gobbles.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

/* flappers tile: 16 */

.x16{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/flappers.png');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

/* snappers tile: 32 */

.x32{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/snappers.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

/* fold tile: 64 */

.x64{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/fold.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

/* miss information tile: 128 */

.x128{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/miss_info.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

/* malice tile: 256 */

.x256{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/malice.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

/* crab girl tile: 512 */

.x512{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/crab girl.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

/* warrick tile: 1024 */

.x1024{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/warrick.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

/* dusk tile: 20248 */

.x2048{
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/dusk.jpeg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

/* lulu tile: 4096 */

.x4096 {
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/lulu.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}

/* seagull tile: 8192 */

.x8192 {
    width: 145.8px;
    height: 145.8px;
    background-image: url('../2048/img/seagull.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-size: 145.8px 145.8px;
    background-size: contain;
}
